!!! 5
html(lang='en')
head
    title Konvocate | Thread
    link(rel='stylesheet', href='/stylesheets/grid.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header.container
      .row
        .six.columns
          h1
            a(href='/home') Konvocate
        .six.columns
          nav
            ul
              li
                a(href='/home') Home
              li
                a(href='/new-thread') New Thread
              li
                a(href='/sign-out') Sign Out
    section.container
      .row
        .twelve.columns
          nav
            ul
              li
                a(href='/home') Home
              li »
              li All Posts
          h2 All Posts
          hr
          if threads
            - var i = 0;
            each thread in threads
              .post
                h3
                  a(href='/thread/' + thread._id) #{thread.topic}
                article
                  p
                    | #{thread.content}
                span
                  | Created by
                  | #{thread.author}
                  | on #{thread.date}
                .comment
                  #{thread.count} Comments