!!! 5
html(lang='en')
head
    title Konvocate | Thread
    link(rel='stylesheet', href='/stylesheets/grid.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
    script( src='/socket.io/socket.io.js')
    script(type='text/javascript')
      var socket = io.connect(location.hostname, location.port);
      
      socket.on('new_thread', function (data) {
        console.log(data);
        $("ul.newThread").prepend("<li class='post'><p><a href='/thread/" + data._id + "'>" + data.topic + "</a></p><article><p>" + data.content + "</p></article><span>Created by " + data.author + " on " + data.date + "</span><div class='comment'></div></li>").children().eq(0).hide().slideDown('slow', function() {
            // Animation complete.
          });
      });
  body
    header.container
      .row
        .six.columns
          h1
            a(href='/home') Konvocate
        .six.columns
          nav
            ul
              li
                a(href='/home') Home
              li
                a(href='/new-thread') New Thread
              li
                a(href='/sign-out') Sign Out
    section.container
      .row
        .twelve.columns
          nav
            ul
              li
                a(href='/home') Home
              li &raquo;
              li All Posts
          h2 All Posts
          hr
          ul.newThread.all
            if threads
              - var i = 0;
              each thread in threads
                li.post
                  h3
                    a(href='/thread/' + thread._id) #{thread.topic}
                  article
                    p
                      | #{thread.content}
                  span
                    | Created by
                    | #{thread.author}
                    | on #{thread.date}
                  .comment
                    #{thread.count} Comments