!!! 5
html(lang='en')
head
    title Konvocate | Home
    link(rel='stylesheet', href='/stylesheets/grid.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header.container
      .row
        .six.columns
          h1
            a(href='/home') Konvocate
        .six.columns
          nav
            ul
              li
                a(href='/home') Home
              li
                a(href='/all') All Threads
              li
                a(href='/sign-out') Sign Out
    section.container
      .row
        .six.columns
          h2 New Threads
          hr
          if threads
            each thread in threads
              .post
                h3
                  a(href='/thread/' + thread._id) #{thread.topic}
                article
                  p
                    | #{thread.content}
                span
                  | Created by
                  | #{thread.author}
                  | on #{thread.date}
                .comment
            a(href='/new-thread') Start a thread
          else
            a(href='/new-thread') Start a thread
        .six.columns
          h2 New Comments
          hr          
          if comments            
            each comment in comments
              .comment
                blockquote
                  | #{comment.body}
                span
                  | -
                  | #{comment.user}
                  | , #{comment.date}
                aside
                  a(href='/thread/' + comment.thread) View Thread