!!! 5
html(lang='en')
head
    title Konvocate | Home
    link(rel='stylesheet', href='/stylesheets/grid.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
    script( src='/socket.io/socket.io.js')
    script(type='text/javascript')
      $(document).ready(function(){
        var socket = io.connect(location.hostname, location.port);
        
        socket.on('new_thread', function (data) {
          console.log(data);
          $("ul.newThread").prepend("<li class='post'><p><a href='/thread/" + data._id + "'>" + data.topic + "</a></p><article><p>" + data.content + "</p></article><span>Created by " + data.author + " on " + data.date + "</span><div class='comment'></div></li>").children().eq(0).hide().slideDown('slow', function() {
              // Animation complete.
            });
        });
        
        socket.on('new_comment', function (data) {
          console.log(data);
          $("ul.newComment").prepend("<li class='comment'><blockquote>" + data.body + "</blockquote><span>- " + data.user + ", " + data.date + "</span><aside><a href='/thread/" + data.thread + "'>View Thread</a></aside></li>").children().eq(0).hide().slideDown('slow', function() {
              // Animation complete.
            });
        });
      });
  body
    header.container
      .row
        .six.columns
          h1
            a(href='/home') Konvocate
        .six.columns
          nav
            ul
              li
                a(href='/home') Home
              li
                a(href='/all') All Threads
              li
                a(href='/sign-out') Sign Out
    section.container
      .row
        .six.columns
          h2 New Threads
          a.right(href='/new-thread') Start a thread
          hr
          ul.newThread
            if threads
              each thread in threads
                li.post
                  h3
                    a(href='/thread/' + thread._id) #{thread.topic}
                  article
                    p
                      | #{thread.content}
                  span
                    | Created by
                    | #{thread.author}
                    | on #{thread.date}
                  .comment
        .six.columns
          h2 New Comments
          hr  
          ul.newComment        
            if comments            
              each comment in comments
                li.comment
                  blockquote
                    | #{comment.body}
                  span
                    | -
                    | #{comment.user}
                    | , #{comment.date}
                  aside
                    a(href='/thread/' + comment.thread) View Thread