!!! 5
html(lang='en')
head
    title Konvocate | Thread
    link(rel='stylesheet', href='/stylesheets/grid.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
    script( src='/socket.io/socket.io.js')
    script(type='text/javascript')
      $(document).ready(function(){
        var socket = io.connect(location.hostname, location.port);
        
        socket.on('new_comment', function (data) {
          console.log(data);
          $("ul.newComment").prepend("<li class='comment'><blockquote>" + data.body + "</blockquote><span>- " + data.user + ", " + data.date + "</span></li>").children().eq(0).hide().slideDown('slow', function() {
              // Animation complete.
            });
        });
      });  
  body
    header.container
      .row
        .six.columns
          h1
            a(href='/home') Konvocate
        .six.columns
          nav
            ul
              li
                a(href='/home') Home
              li
                a(href='/all') All Threads
              li
                a(href='/sign-out') Sign Out
    section.container
      .row
        .twelve.columns
          nav
            ul
              li
                a(href='/home') Home
              li &raquo;
              li Thread
          .post
            h3
              a(href=id) #{topic}
            article
              p
                | #{content}
            span
              | Created by
              | #{author}
              | on #{date}
            h4 Comments:
            a(href='/comment/' + id) Add Comment
            ul.newComment
              if comments
                each comment in comments
                  li.comment
                    blockquote
                      | #{comment.body}
                    span
                      | -
                      | #{comment.user}
                      | , #{comment.date}
              