!!! 5
html(lang='en')
head
    title Konvocate | Thread
    link(rel='stylesheet', href='/stylesheets/grid.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header.container
      .row
        .six.columns
          h1
            a(href='/home') Konvocate
        .six.columns
          nav
            ul
              li
                a(href='/home') Home
              li
                a(href='/all') All Threads
              li
                a(href='/sign-out') Sign Out
    section.container
      .row
        .twelve.columns
          nav
            ul
              li
                a(href='/home') Home
              li »
              li Thread
          .post
            h3
              a(href=id) #{topic}
            article
              p
                | #{content}
            span
              | Created by
              | #{author}
              | on #{date}
            .comment
              if comments
                h4 Comments:
                  each comment in comments
                    blockquote
                      | #{comment.body}
                    span
                      | -
                      | #{comment.user}
                      | , #{comment.date}
                a(href='/comment/' + id) Add Comment
              else
                a(href='/comment/' + id) Add Comment
              
